.pagination {
    margin-bottom: 50px;
    font-weight: bold;
}

.page{
    color: black;
    margin-left: 1rem;
}
.page:active{
    background-color: rgb(2, 2, 2);
    color: white;
    transition: all linear 50ms;
    -webkit-transition: all linear 50ms;
    -moz-transition: all linear 50ms;
    -ms-transition: all linear 50ms;
    -o-transition: all linear 50ms;
}
